:root {
    --primary-color: #002147; /* Oxford Blue */
    --secondary-color: #626262; /* Medium Gray */
    --accent-color: #D5B942; /* Dusty Gold */
    --background-color: #E6EDF2; /* Pale Blue */
}